@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/*common css*/
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
     color: #2e2e2e;
}
 p {
     font-family: 'Raleway', sans-serif;
     color: #666666;
     line-height: 26px;
     font-size: 14px;
     letter-spacing: 0.4px;
}
 ul li, ul li a, ol li, ol li a {
     font-family: 'Raleway', sans-serif;
     color: #666666;
     font-size: 14px;
     line-height: 26px;
}
ul{
    list-style: none;
    margin-bottom: 0;

}
section {
    overflow: hidden;
}
 a:hover, a:focus {
     text-decoration: none;
     outline: none;
}
 html {
     scroll-behavior: smooth;
}
 * {
     margin: 0;
     padding: 0;
}
button{
    border: none;
    outline: none;
}
 a {
     text-decoration: none;
     color: #000;
     font-size: 15px;
     display: inline-block;
     -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-decoration: none;
}

 a:hover {
     text-decoration: none;
}
 h2 {
     font-size: 30px;
     font-weight: 700;
     color: #002f23;
     line-height: 32px;
}
 h3 {
     font-size: 25px;
     font-weight: 600;
     line-height: 32px;
}
 p {
     font-size: 15px;
     color: #000;
     font-weight: 400;
     margin-bottom: 0;
}
.get-quote {
    display: inline-block;
    position: relative;
}
.get-quote a span{
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.default-btn {
    z-index: 1;
    padding: 15px 30px 16px;
    line-height: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-align: center;
    background-color: #ffc107;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
button.default-btn span {
    color: #fff;
}
.default-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(transparent));
    background: linear-gradient(right, #ffffff, transparent);
    -webkit-animation: right 2s linear infinite;
    animation: right 2s linear infinite;
}
.default-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(transparent));
    background: linear-gradient(left, #ffffff, transparent);
    -webkit-animation: left 2s linear infinite;
    animation: left 2s linear infinite;
}
.default-btn span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(transparent));
    background: linear-gradient(top, #ffffff, transparent);
    -webkit-animation: top 2s linear infinite;
    animation: top 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.default-btn span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent));
    background: linear-gradient(bottom, #ffffff, transparent);
    -webkit-animation: bottom 2s linear infinite;
    animation: bottom 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes top {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}



 .btn_box a {
     color: #fff;
     text-decoration: none;
}
 .section_padding {
     padding: 80px 0px;
}
.section_title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    z-index: 1;
    position: relative;
}
 .section_title h2 {
    font-size: 20px;
    font-weight: 500;
    color: #ffc107;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
 .section_title h3{
     font-size: 25px;
     font-weight: 600;
     color: #000;
     line-height: 30px;
}
/*end common css*/
/*navbar*/
 .navbar_section {
     position: fixed;
     width: 100%;
     z-index: 9;
}
 .navbar-expand-lg .navbar-collapse {
     justify-content: end;
}
 .navbar {
     padding: 0.5rem 0rem;
}
 .navbar-expand-lg .navbar-nav .nav-link {
     color: #fff;
     font-size: 16px;
}
.navbar_section.black {
    background: #000;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}
li.nav-item {
    margin: 0px 10px;
}
.navbar_section.black .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
}
/*end navbar*/
/*mobile header*/
 .container .mobile_header {
     position: absolute;
     display: block;
     top: 0;
     left: 0;
}
 @media (max-width: 991px) {
     .container .mobile_header {
         position: fixed;
    }
}
/* End container/placeholder */
/* Menu Header */
.mobile_header {
    background: #fff;
    overflow: hidden;
    height: 85px;
    width: 100%;
    z-index: 1;
    position: fixed;
    transition: all 0.4s ease-out, background 1s ease-out;
   box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}
.mobile_logo img {
    width: 133px;
    padding: 0;
    margin-top: -3px;
    margin-left: 12px;
}
 li.menu-item .btn_box {
     border-radius: 10.667px;
     background: var( --main-gradient, linear-gradient(180deg, #02cca1 29.37%, #01a17f 100%) );
     padding: 5px 28px;
     padding: 0px 28px;
     color: #fff;
     border-radius: 10px;
     width: 156px;
     height: 71px;
}
.mobile_header.menu-open {
    height: 100%;
    background: #4285f4;
    transition: all 0.45s ease-out, background 0.8s ease-out;
}
/* Menu List items */
 .mobile-menu {
     clear: both;
}
 .mobile_header ul.menu {
     position: relative;
     display: block;
     padding: 0px 40px 0;
     list-style: none;
}
 .mobile_header ul.menu li.menu-item a {
     display: block;
     position: relative;
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     line-height: 2.8;
     width: 100%;
     -webkit-tap-highlight-color: transparent;
     background: transparent;
}
 .mobile_header ul.menu li.menu-item {
     border-bottom: 1px solid #333;
     margin-top: 5px;
     opacity: 0;
     transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
     transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
     transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
/* Menu Icon */
 .icon-container {
     position: relative;
     display: inline-block;
     z-index: 2;
     float: right;
    /* Simply change property to float left to switch icon side :) */
     height: 55px;
     width: 55px;
     cursor: pointer;
     -webkit-tap-highlight-color: transparent;
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
     transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
 .icon-container #menuicon {
     width: 20px;
     height: 10px;
     position: relative;
     display: block;
     margin: -4px auto 0;
     top: 50%;
}
 #menuicon .bar {
     width: 100%;
     height: 1px;
     display: block;
     position: relative;
     background: #000;
     transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
 #menuicon .bar.bar1 {
     -webkit-transform: translateY(0px) rotate(0deg);
     transform: translateY(0px) rotate(0deg);
}
 #menuicon .bar.bar2 {
     -webkit-transform: translateY(6px) rotate(0deg);
     transform: translateY(6px) rotate(0deg);
}
 .menu-open .icon-container {
     -webkit-transform: rotate(90deg);
     transform: rotate(90deg);
}
 .menu-open .icon-container #menuicon .bar {
     transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
     transition-delay: 0.1s;
}
 .menu-open .icon-container #menuicon .bar.bar1 {
     -webkit-transform: translateY(4px) rotate(45deg);
     transform: translateY(4px) rotate(45deg);
}
 .menu-open .icon-container #menuicon .bar.bar2 {
     -webkit-transform: translateY(3px) rotate(-45deg);
     transform: translateY(3px) rotate(-45deg);
}
 .mobile_header {
     display: none !important;
}
/*end mobile menu*/
/*hero area*/
.welcome-area{
  background-image: url(../image/bg-hero.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content_box {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}
.content_box h2 {
     font-size: 54px;
     font-weight: 700;
     color: #fff;
     line-height: 65px;
}
 .content_box span {
     color: #ffc107;
}
 .content_box p {
     color: #fff;
     font-weight: 400;
     font-size: 15px;
     padding: 15px 0px;
}
/*end hero area*/
/*our service*/
 .our_service{
     width: 100%;
     margin: 0;
}
.single-feature{
  text-align: center;
}
 .single-feature h4{
     font-size: 18px;
     margin-top: 15px;
}
.single-feature {
    padding: 25px 10px;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.overly-one {
    position: relative;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.feature-area.feature-area-two .single-feature {
    margin-top: 0;
    position: relative;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.overly-one::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#ffc107), to(transparent));
    background: linear-gradient(left, #ffc107, transparent);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    z-index: 1;
}
.overly-one .overly-two::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ffc107));
    background: linear-gradient(left, transparent, #ffc107);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
}
.overly-one .overly-two::after {
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffc107), to(transparent));
    background: linear-gradient(bottom, #ffc107, transparent);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
}
.overly-one::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc107), to(transparent));
    background: linear-gradient(top, #ffc107, transparent);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
}
.single-feature:hover {
    background-color: #ffc107;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.overly-one:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.feature-area.feature-area-two .single-feature {
    margin-top: 0;
    position: relative;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.feature-area.feature-area-two .single-feature:hover {
    background-color: #4285f4;
}
.overly-one:hover::before {
    right: 30px;
    opacity: 1;
}
.overly-one:hover .overly-two::before {
    left: 30px;
    opacity: 1;
}
.overly-one:hover .overly-two::after {
    top: 30px;
    opacity: 1;
}
.overly-one:hover::after {
    bottom: 30px;
    opacity: 1;
}
.single-feature:hover h4 {
    color: #ffffff;
}
.single-feature:hover p {
    color: #ffffff;
}
/*end our service*/
/*banner*/

.banner_section {
    overflow: hidden;
    text-align: center;
    background: #000;
    width: 100%;
}

 .content_banner{
     width: 80%;
     margin: 0 auto;
     z-index: 1;
     position: relative;
}
.content_banner p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 8px;
}
 .banner_section .btn_box a{
     background: #fff;
     color: #000;
}
/*end banner*/
/*work section*/
 .showcase_section{
     width: 100%;
}
 .grid-item {
     display: inline-block;
     height: 370px;
     overflow: hidden;
     text-align: center;
     width: 370px;
}
 .grid-item img{
     width:100%;
     height:auto;
     filter: url(filters.svg#grayscale);
     filter: gray;
     -webkit-filter: grayscale(1);
     transition: 0.9s;
}
 .grid-item img:hover{
     filter: none;
}
 .isotope-pager .pager {
     display: inline-block;
}
 .filters {
     width: 100%;
     text-align: center;
     padding-bottom: 35px;
     padding-top:20px;
}
 .isotope-pager {
     display: none;
}
 .filters li {
     display: inline-block;
     padding: 10px 25px;
     font-size: 15px;
     font-weight: 600;
     cursor: pointer;
}
 .filters li a{
     color: #b6b6b6;
     text-decoration: none;
}
 .filters li a:hover{
     color:#ffc107;
}

 .filters li.active a{
     color: #ffc107;
     border: 1px solid #ffc107;
     border-radius: 15px;
     box-shadow: -1px 1px 11px rgba(0,0,0,.4);
     padding: 10px 25px;
}
 .isotope-pager .active{
     color: #ffc107 !important;
     box-shadow: -1px 1px 10px 5px rgba(0,0,0,.1);
     border-radius: 25px;
     background-color: #ffc107;
     border: 1px dotted #ffc107;
}
 .isotope-pager .prev{
     border-radius: 30px 0 0 30px;
}
 .isotope-pager .next{
     border-radius: 0 30px 30px 0;
}
 .isotope-pager a::before,.isotope-pager a:after{
     content: "";
     position: absolute;
     border-top: 30px solid transparent;
     border-bottom: 30px solid transparent;
}
 .isotope-pager .num::before,.next::before{
     border-right: 20px solid #2c3e50;
     right: 100%;
}
 .isotope-pager .num:after,.prev:after{
     border-right: 20px solid #f1f1f1;
     right: 0;
}
 .overlay {
     position: absolute;
     bottom: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
     color: #f1f1f1;
     width: 100%;
     transition: .5s ease;
     opacity:0;
     color: white;
     font-size: 20px;
     padding: 20px;
     text-align: center;
}
 .grid-item:hover .overlay {
     opacity: 1;
}
/*end work section*/
/*achivement*/
.achivement_section {
    overflow: hidden;
    text-align: center;
    background: #000;
    width: 100%;
}

 .achivement_section .section_title h3{
     color: #fff;
}
 .achivement_section .section_title p{
     color: #fff;
}
 .counter {
     padding: 20px 0;
     border-radius: 5px;
}
 .count-title {
     font-size: 40px;
     font-weight: 700;
     margin-top: 10px;
     margin-bottom: 0;
     text-align: center;
     color: #fff;
}
 .count-text {
     font-size: 13px;
     font-weight: 500;
     margin-top: 10px;
     margin-bottom: 0;
     text-align: center;
     color: #fff;
}
 .fa-2x {
     margin: 0 auto;
     float: none;
     display: table;
     color: #4ad1e5;
}
/*end achivement*/
/*expertise*/
 .expertise_section{
     width: 100%;
     background: #fff;
     margin: 0;
}
.exp_content {
    background: rgb(85 85 85 / 9%);
    padding: 40px 25px;
    border-radius: 10px;
}
.expertise_section .container {
    background: rgb(93 90 90 / 4%);
    padding: 38px 42px;
    border-radius: 10px;
}

.exp_content ul li {
    line-height: 35px;
}
.exp_content ul li i{
    color: #ffc107;
    font-size: 15px;
}
.exp_content ul li span{
    font-size: 15px;
    color: #000;
    font-weight: 400;
    margin-left: 10px;
}
 .content_box_ex{
     border: 1px solid #4285f4;
     text-align: center;
     padding: 20px 10px;
     border-radius: 10px;
     margin-bottom: 30px;
     -webkit-transition: all .5s ease-out;
     -o-transition: all .5s ease-out;
     transition: all .5s ease-out;
     color: #fff;
}
}
 .content_box_ex:hover{
     border: 1px solid #4285f4;
     background: #4285f4;
     -webkit-transform: scale(1.03);
     -ms-transform: scale(1.03);
     transform: scale(1.03);
     transition: 0.5s;
     color: #fff;
}
 .content_box_ex p{
     font-size: 16px;
     font-weight: 500;
}
/*end expertise*/
/*client section*/
 .swiper-container {
     width: 100%;
     height: 100%;
     position: relative;
}
 .swiper-wrapper {
     transition-timing-function: linear !important;
     position: relative;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
    margin: 0 18px;
    height: 120px;
}
 .swiper-slide img{
     width: 150px;
}
/*end client section*/
/*testimonial*/
 .testimonial_section{
     width: 100%;
}
#testimonial-slider{
     margin-top: 50px;
}
 .testimonial {
     border-right: 4px solid #ffc107;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
     padding: 30px 30px 30px 130px;
     margin: 0 15px 30px 15px;
     overflow: hidden;
     position: relative;
     height: 275px;
}

 .testimonial:before{
     content: "";
     position: absolute;
     bottom: -4px;
     left: -17px;
     border-top: 25px solid #ffc107;
     border-left: 25px solid transparent;
     border-right: 25px solid transparent;
     transform: rotate(45deg);
}
 .testimonial:after{
     content: "";
     position: absolute;
     top: -4px;
     left: -17px;
     border-top: 25px solid #ffc107;
     border-left: 25px solid transparent;
     border-right: 25px solid transparent;
     transform: rotate(135deg);
}
 .testimonial .pic{
     display: inline-block;
     width: 80px;
     height: 80px;
     border-radius: 50%;
     overflow: hidden;
     position: absolute;
     top: 60px;
     left: 20px;
}
 .testimonial .pic img{
     width: 100%;
     height: auto;
}
 .testimonial .description{
     font-size: 15px;
     letter-spacing: 1px;
     color: #6f6f6f;
     line-height: 25px;
     margin-bottom: 15px;
}
 .testimonial .title{
     display: inline-block;
     font-size: 20px;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #ffc107;
     margin: 0;
}
 .testimonial .post{
     display: inline-block;
     font-size: 17px;
     color: #ffc107;
     font-style:italic;
}
 .owl-theme .owl-controls .owl-page span{
     border: 2px solid #ffc107;
     background: #fff;
     border-radius:0;
     opacity: 1;
}
 .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls .owl-page:hover span{
     background: #ffc107;
     border-color:#ffc107;
}
 
/*end client*/
/*contact from*/
.get-in-touch-area {
   overflow: hidden;
    text-align: center;
    background: #000;
    width: 100%;
}

.section-title {
    max-width: 750px;
    margin: -5px auto 50px;
    text-align: center;
    position: relative;
}

.get-in-touch-form {
    text-align: center;
    max-width: 810px;
    margin: auto;
}
.get-in-touch-form .form-group {
    margin-bottom: 30px;
}
.get-in-touch-form .form-group label {
    text-align: left;
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 600;
}
.form-control {
    height: 50px;
    color: #e21f36;
    border: 1px solid #ebebeb;
    background-color: transparent;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
}
.get-in-touch-form .form-group .form-control {
    background-color: #ffffff;
    border: none ;
    height: 50px;
    padding-left: 15px;
}
.white_title h3{
    color: #fff;
}
.white_title p{
    color: #fff;
}
/*end contact from*/
/*our team*/
.ulockd-team {
    width: 100%;
}
.ulockd-team-member {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.ulockd-tm-thumb {
    position: relative;
    overflow: hidden;
}
.ulockd-tm-thumb img {
    width: 100% ;
}
.ulockd-tm-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.ulockd-service-box, .ulockd-tm-overlay, .bgc-thm-trnsp, .about-box:before {
    background-color: rgb(255 193 7 / 89%);
}
.ulockd-tm-name {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 30%;
}
.ulockd-tm-post {
    color: #fff;
}
.ulockd-social-linked {
    margin-top: 10px;
    position: relative;
}
.ulockd-social-linked li {
    padding: 0;
    display: inline-block;
}
.ulockd-social-linked a {
    border: 1px solid #aaa;
    color: #fff;
    font-size: 15px;
    padding: 5px 9px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.ulockd-tm-overlay > a {
    color: #fff;
    font-size: 15px;
    left: 0;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 55%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ulockd-team-member:hover .ulockd-tm-overlay {
    cursor: pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
/*end our team*/
/*footer section*/
.footer-area {
   overflow: hidden;
   background: #000;
   width: 100%;
}
.single-footer-widget img {
    width: 100%;
}
.single-footer-widget {
    margin-bottom: 30px;
}
.single-footer-widget .logo {
    margin-bottom: 20px;
}
.single-footer-widget p {
    margin-bottom: 20px;
    color: #ffffff;
}
.single-footer-widget .social-icon {
    line-height: 1;
}
.single-footer-widget .social-icon li {
    display: inline-block;
    margin-right: 5px;
}
.single-footer-widget .social-icon li a i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}
.single-footer-widget .social-icon li a:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    background: #ffc107;
}

.single-footer-widget h3 {
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}
.single-footer-widget .address {
    color: #ffffff;
}
.single-footer-widget .address li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 16px;
    color: #ffffff;
}
.single-footer-widget .address .location {
    padding-left: 40px;
    position: relative;
}
.single-footer-widget .address .location i {
    position: absolute;
    color: #ffc107;
    left: 0;
    top: 5px;
    font-size: 25px;
}
.single-footer-widget .address li i {
    position: absolute;
    color: #ffc107;
    left: 0;
    top: 3px;
    font-size: 19px;
}
.single-footer-widget .address li a {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 6px;
}
.single-footer-widget h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 26%);
}

.single-footer-widget .import-link li {
    margin-bottom: 11px;
    position: relative;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.9);
}
.single-footer-widget .import-link li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 11px;
    height: 11px;
    background-color: #ffc107;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 50px;
}
.single-footer-widget .import-link li a {
    color: rgba(255, 255, 255, 0.9);
}
.copy-right-area {
    background: #000;
    border-top: 1px solid rgb(255 255 255 / 26%);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.copy-right-area p {
    color: #ffffff;
}
.copy-right-area p a {
    color: #ffc107;
    font-weight: 600;
}